.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.doboz{
    border: 1px solid black;
}

.container1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.doboz1{
    border: 1px solid black;
}

.container2{
    display: grid;
}

.doboz2{
    grid-area: 2/3/5/6;
}